.Agenda{
    background-image: url("../../Asserts/map.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    
   
}
.Phases_calendar{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.Agenda p {
    margin: 0;
    position: relative;
    top: 1%;
    font-family: magicSchool;
    font-size: 100px;
    font-weight: 400;
    color: #1A2D67;
    text-align: center;
    text-shadow: 2px 1px black;
}
