@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "magicSchool";
    src: url('./../fonts/MagicSchoolOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }